* {
  font-family: 'Bahnschrift';
    color: #707070;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.screenbtns img {
  position: fixed;
  width:10em;
  cursor: pointer;
  transition: width 100ms;
}
.screenbtns img:hover {
  position: fixed;
  width:11em
}
.screenbtns img[name='zoomin'] {
  bottom:3em;
  right:-2.5em;
}
.screenbtns img[name='zoomout'] {
  bottom:0;
  right:-2.5em;
}
.screenbtns button[name='showProcess'] {
  position: fixed;
  bottom: 0;
  left: 0;
  height:3em;
  width:6em;
  font-size: 20px;
  border: none;
  background-color: #e6e6e6;
  box-shadow: 2px 2px 4px grey;
  transition: width 150ms;
  cursor: pointer;
  outline: none;
}
.screenbtns button[name='showProcess']:hover {
  background-color: #cccccc;
  box-shadow: 4px 4px 4px grey;
  width:10%;
}
.screenbtns button[name='showProcess']:active {
  background-color: #bfbfbf;
  box-shadow: 1px 1px 4px grey;
}